{% extends 'layout.html' %}

{% block username %} {{ username }} {% endblock %}

{% block content %}
<div class=" md:flex justify-between items-center">
    <div>
        <!-- BEGIN: Breadcrumb -->
        <div class="mb-5">
            <ul class="m-0 p-0 list-none">
                <li class="inline-block relative top-[3px] text-base text-primary-500 font-Inter ">
                    <a href="/">
                        <iconify-icon icon="heroicons-outline:home"></iconify-icon>
                        <iconify-icon icon="heroicons-outline:chevron-right"
                                      class="relative text-slate-500 text-sm rtl:rotate-180"></iconify-icon>
                    </a>
                </li>
                <li class="inline-block relative text-sm text-primary-500 font-Inter ">
                    Projects
                </li>
            </ul>
        </div>
        <!-- END: BreadCrumb -->
    </div>
    <div class="flex flex-wrap my-3">
        <button class="btn inline-flex justify-center btn-dark dark:bg-slate-700 dark:text-slate-300 m-1 "
                data-bs-toggle="modal" data-bs-target="#addModal">
			<span class="flex items-center">
				<iconify-icon class="text-xl ltr:mr-2 rtl:ml-2" icon="ph:plus-bold"></iconify-icon>
				<span>Add Project</span>
			</span>
        </button>
    </div>
</div>

<div class="card">
<div class="card-body px-6 pb-6">
    <div class="overflow-x-auto -mx-6 dashcode-data-table">
        <div class="inline-block min-w-full align-middle">
            <div class="overflow-hidden ">
                <div class="min-w-full">
                    <table class="min-w-full divide-y divide-slate-100 table-fixed dark:divide-slate-700 dataTable no-footer" id="data-table">
                        <thead class=" border-t border-slate-100 dark:border-slate-800">
                        <tr>
                            <th scope="col" class="table-th sorting" tabindex="0" aria-controls="data-table" rowspan="1" colspan="1" aria-label=" Id: activate to sort column ascending">
                                Name
                            </th>
                            <th scope="col" class="table-th sorting sorting_asc" tabindex="0" aria-controls="data-table" rowspan="1" colspan="1" aria-label=" Order: activate to sort column descending" aria-sort="ascending">
                                Organization
                            </th>
                            <th scope="col" class="table-th sorting" tabindex="0" aria-controls="data-table" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending">
                                Start Date
                            </th>
                            <th scope="col" class="table-th sorting" tabindex="0" aria-controls="data-table" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">
                                End Date
                            </th>
                            <th scope="col" class="table-th sorting" tabindex="0" aria-controls="data-table" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending">
                                Action
                            </th>
                        </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-slate-100 dark:bg-slate-800 dark:divide-slate-700">
                        {% if len > 0 %}
                            {% for i in range(0,len) %}
                                <tr>
                                    <td class="table-td"> {{ projects[i].title }} </td>
                                    <td class="table-td"> {{ projects[i].organization.name }} </td>
                                    <td class="table-td"> {{ projects[i].start_date }}</td>
                                    <td class="table-td"> {{ projects[i].end_date }}</td>
                                    <td class="table-td">
                                        <div class="dropstart relative">
                                            <button class="inline-flex justify-center items-center"
                                                    type="button" id="tableDropdownMenuButton"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                <iconify-icon class="text-xl ltr:ml-2 rtl:mr-2" icon="heroicons-outline:dots-vertical"></iconify-icon>
                                            </button>
                                            <ul class="dropdown-menu min-w-max absolute text-sm text-slate-700 dark:text-white hidden bg-white dark:bg-slate-700 shadow z-[2] float-left overflow-hidden list-none text-left rounded-lg mt-1 m-0 bg-clip-padding border-none">
                                                <li>
                                                    <a href="{{ url_for('project.general', id=projects[i].id) }}"
                                                       class="hover:bg-slate-900 dark:hover:bg-slate-600 dark:hover:bg-opacity-70 hover:text-white w-full border-b border-b-gray-500 border-opacity-10 px-4 py-2 text-sm dark:text-slate-300  last:mb-0 cursor-pointer first:rounded-t last:rounded-b flex space-x-2 items-center capitalize  rtl:space-x-reverse">
                                                        <iconify-icon icon="heroicons-outline:eye"></iconify-icon>
                                                        <span>View</span></a>
                                                </li>
                                                <li>
                                                    <a href="#"
                                                       class="hover:bg-slate-900 dark:hover:bg-slate-600 dark:hover:bg-opacity-70 hover:text-white w-full border-b border-b-gray-500 border-opacity-10 px-4 py-2 text-sm dark:text-slate-300 last:mb-0 cursor-pointer first:rounded-t last:rounded-b flex space-x-2 items-center capitalize rtl:space-x-reverse">
                                                        <iconify-icon
                                                                icon="fluent:delete-28-regular"></iconify-icon>
                                                        <span>Delete</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                        <tbody
										class="bg-white divide-y divide-slate-100 dark:bg-slate-800 dark:divide-slate-700">
										<tr class="even:bg-slate-50 dark:even:bg-slate-700">
											<td class="table-td">
                                                    Thuyết trình TLH
											</td>
											<td class="table-td">
												HUST
											</td>

                                            <td class="table-td">2023-02-04</td>
                                            <td class="table-td">2023-02-20</td>

											<td class="table-td">
												<div class="dropstart relative">
													<button class="inline-flex justify-center items-center"
														type="button" id="tableDropdownMenuButton"
														data-bs-toggle="dropdown" aria-expanded="false">
														<iconify-icon class="text-xl ltr:ml-2 rtl:mr-2"
															icon="heroicons-outline:dots-vertical"></iconify-icon>
													</button>
													<ul
														class="dropdown-menu min-w-max absolute text-sm text-slate-700 dark:text-white hidden bg-white dark:bg-slate-700 shadow z-[2] float-left overflow-hidden list-none text-left rounded-lg mt-1 m-0 bg-clip-padding border-none">
														<li>
															<a href="{{ url_for('project.general', id=1) }}"
																class="hover:bg-slate-900 dark:hover:bg-slate-600 dark:hover:bg-opacity-70 hover:text-white w-full border-b border-b-gray-500 border-opacity-10 px-4 py-2 text-sm dark:text-slate-300  last:mb-0 cursor-pointer first:rounded-t last:rounded-b flex space-x-2 items-center capitalize  rtl:space-x-reverse">
																<iconify-icon
																	icon="heroicons-outline:eye"></iconify-icon>
																<span>View</span></a>
														</li>
														<li>
															<a href="#"
																class="hover:bg-slate-900 dark:hover:bg-slate-600 dark:hover:bg-opacity-70 hover:text-white w-full border-b border-b-gray-500 border-opacity-10 px-4 py-2 text-sm dark:text-slate-300 last:mb-0 cursor-pointer first:rounded-t last:rounded-b flex space-x-2 items-center capitalize rtl:space-x-reverse">
																<iconify-icon
																	icon="fluent:delete-28-regular"></iconify-icon>
																<span>Delete</span></a>
														</li>
													</ul>
												</div>
											</td>
										</tr>
									</tbody>
                                    <tbody
										class="bg-white divide-y divide-slate-100 dark:bg-slate-800 dark:divide-slate-700">
										<tr class="even:bg-slate-50 dark:even:bg-slate-700">
											<td class="table-td">
                                                    BLT Intro ML
											</td>
											<td class="table-td">
												HUST
											</td>

                                            <td class="table-td">2023-05-04</td>
                                            <td class="table-td">2023-02-04</td>

											<td class="table-td">
												<div class="dropstart relative">
													<button class="inline-flex justify-center items-center"
														type="button" id="tableDropdownMenuButton"
														data-bs-toggle="dropdown" aria-expanded="false">
														<iconify-icon class="text-xl ltr:ml-2 rtl:mr-2"
															icon="heroicons-outline:dots-vertical"></iconify-icon>
													</button>
													<ul
														class="dropdown-menu min-w-max absolute text-sm text-slate-700 dark:text-white hidden bg-white dark:bg-slate-700 shadow z-[2] float-left overflow-hidden list-none text-left rounded-lg mt-1 m-0 bg-clip-padding border-none">
														<li>
															<a href="{{ url_for('project.general', id=1) }}"
																class="hover:bg-slate-900 dark:hover:bg-slate-600 dark:hover:bg-opacity-70 hover:text-white w-full border-b border-b-gray-500 border-opacity-10 px-4 py-2 text-sm dark:text-slate-300  last:mb-0 cursor-pointer first:rounded-t last:rounded-b flex space-x-2 items-center capitalize  rtl:space-x-reverse">
																<iconify-icon
																	icon="heroicons-outline:eye"></iconify-icon>
																<span>View</span></a>
														</li>
														<li>
															<a href="#"
																class="hover:bg-slate-900 dark:hover:bg-slate-600 dark:hover:bg-opacity-70 hover:text-white w-full border-b border-b-gray-500 border-opacity-10 px-4 py-2 text-sm dark:text-slate-300 last:mb-0 cursor-pointer first:rounded-t last:rounded-b flex space-x-2 items-center capitalize rtl:space-x-reverse">
																<iconify-icon
																	icon="fluent:delete-28-regular"></iconify-icon>
																<span>Delete</span></a>
														</li>
													</ul>
												</div>
											</td>
										</tr>
									</tbody>
                                    <tbody
										class="bg-white divide-y divide-slate-100 dark:bg-slate-800 dark:divide-slate-700">
										<tr class="even:bg-slate-50 dark:even:bg-slate-700">
											<td class="table-td">
                                                Building a management website
											</td>
											<td class="table-td">
												FPT
											</td>

                                            <td class="table-td">2023-03-04</td>
                                            <td class="table-td">2023-08-01</td>

											<td class="table-td">
												<div class="dropstart relative">
													<button class="inline-flex justify-center items-center"
														type="button" id="tableDropdownMenuButton"
														data-bs-toggle="dropdown" aria-expanded="false">
														<iconify-icon class="text-xl ltr:ml-2 rtl:mr-2"
															icon="heroicons-outline:dots-vertical"></iconify-icon>
													</button>
													<ul
														class="dropdown-menu min-w-max absolute text-sm text-slate-700 dark:text-white hidden bg-white dark:bg-slate-700 shadow z-[2] float-left overflow-hidden list-none text-left rounded-lg mt-1 m-0 bg-clip-padding border-none">
														<li>
															<a href="{{ url_for('project.general', id=1) }}"
																class="hover:bg-slate-900 dark:hover:bg-slate-600 dark:hover:bg-opacity-70 hover:text-white w-full border-b border-b-gray-500 border-opacity-10 px-4 py-2 text-sm dark:text-slate-300  last:mb-0 cursor-pointer first:rounded-t last:rounded-b flex space-x-2 items-center capitalize  rtl:space-x-reverse">
																<iconify-icon
																	icon="heroicons-outline:eye"></iconify-icon>
																<span>View</span></a>
														</li>
														<li>
															<a href="#"
																class="hover:bg-slate-900 dark:hover:bg-slate-600 dark:hover:bg-opacity-70 hover:text-white w-full border-b border-b-gray-500 border-opacity-10 px-4 py-2 text-sm dark:text-slate-300 last:mb-0 cursor-pointer first:rounded-t last:rounded-b flex space-x-2 items-center capitalize rtl:space-x-reverse">
																<iconify-icon
																	icon="fluent:delete-28-regular"></iconify-icon>
																<span>Delete</span></a>
														</li>
													</ul>
												</div>
											</td>
										</tr>
									</tbody>
                                    <tbody
										class="bg-white divide-y divide-slate-100 dark:bg-slate-800 dark:divide-slate-700">
										<tr class="even:bg-slate-50 dark:even:bg-slate-700">
											<td class="table-td">
                                                Mobile App Development
											</td>
											<td class="table-td">
												Riot Games
											</td>

                                            <td class="table-td">2023-04-04</td>
                                            <td class="table-td">2023-09-24</td>

											<td class="table-td">
												<div class="dropstart relative">
													<button class="inline-flex justify-center items-center"
														type="button" id="tableDropdownMenuButton"
														data-bs-toggle="dropdown" aria-expanded="false">
														<iconify-icon class="text-xl ltr:ml-2 rtl:mr-2"
															icon="heroicons-outline:dots-vertical"></iconify-icon>
													</button>
													<ul
														class="dropdown-menu min-w-max absolute text-sm text-slate-700 dark:text-white hidden bg-white dark:bg-slate-700 shadow z-[2] float-left overflow-hidden list-none text-left rounded-lg mt-1 m-0 bg-clip-padding border-none">
														<li>
															<a href="{{ url_for('project.general', id=1) }}"
																class="hover:bg-slate-900 dark:hover:bg-slate-600 dark:hover:bg-opacity-70 hover:text-white w-full border-b border-b-gray-500 border-opacity-10 px-4 py-2 text-sm dark:text-slate-300  last:mb-0 cursor-pointer first:rounded-t last:rounded-b flex space-x-2 items-center capitalize  rtl:space-x-reverse">
																<iconify-icon
																	icon="heroicons-outline:eye"></iconify-icon>
																<span>View</span></a>
														</li>
														<li>
															<a href="#"
																class="hover:bg-slate-900 dark:hover:bg-slate-600 dark:hover:bg-opacity-70 hover:text-white w-full border-b border-b-gray-500 border-opacity-10 px-4 py-2 text-sm dark:text-slate-300 last:mb-0 cursor-pointer first:rounded-t last:rounded-b flex space-x-2 items-center capitalize rtl:space-x-reverse">
																<iconify-icon
																	icon="fluent:delete-28-regular"></iconify-icon>
																<span>Delete</span></a>
														</li>
													</ul>
												</div>
											</td>
										</tr>
									</tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
     id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog relative w-auto pointer-events-none">
        <div class="modal-content border-none shadow-lg relative flex flex-col lg:w-[576px] w-full pointer-events-auto bg-white bg-clip-padding
                rounded-md outline-none text-current">
            <div class="relative bg-white rounded-lg shadow dark:bg-slate-700">
                <!-- Modal header -->
                <div
                        class="flex items-center justify-between p-5 border-b rounded-t dark:border-slate-600 bg-black-500">
                    <h3 class="text-base font-medium text-white dark:text-white capitalize">
                        Add project
                    </h3>
                    <button type="button" class="text-slate-400 bg-transparent hover:text-slate-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center
                                        dark:hover:bg-slate-600 dark:hover:text-white" data-bs-dismiss="modal">
                        <svg aria-hidden="true" class="w-5 h-5" fill="#ffffff" viewbox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-6 space-y-4">
                    <form class="flex flex-col space-y-3">
                        <div class="input-area">
                            <div class="relative">
                                <input id="name" type="text" class="form-control pr-9" placeholder="Project name">
                            </div>
                            <span id="nameErrorMsg" class="font-Inter text-sm text-danger-500 pt-2 hidden mt-1">This
								is valid state.</span>
                        </div>
                        <div>
                            <label for="basicSelect" class="form-label">Organization</label>
                            <select name="basicSelect" id="basicSelect" class="form-control w-full mt-2">
                                <option selected="Selected" disabled="disabled" value="none"
                                        class="select2 py-1 inline-block font-Inter font-normal text-sm text-slate-600">
                                    Select an option</option>
                                <option value="option1"
                                        class="py-1 inline-block font-Inter font-normal text-sm text-slate-600">HUST
                                </option>
                                <option value="option2"
                                        class="py-1 inline-block font-Inter font-normal text-sm text-slate-600">FPT
                                </option>
                                <option value="option3"
                                        class="py-1 inline-block font-Inter font-normal text-sm text-slate-600">Riot Game
                                </option>
                            </select>
                        </div>
                        <div>
                            <label for="description" class="form-label">Description</label>
                            <textarea name="description" class="form-control" id="description" rows="3"></textarea>
                        </div>
                        <div class="flex items-center justify-end rounded-b dark:border-slate-600">
                            <button data-bs-dismiss="modal"
                                    class="btn inline-flex justify-center text-white bg-black-500">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
